@model WebApplicationLab4.Models.Calc

@{
    Layout = Layout = "~/Views/_CalcLayout.cshtml";
}

@section Header {
    <div class="view">
        <p>
            Заданное значение =  @ViewBag.Compare
        </p>

        @if (ViewBag.Result != null)
        {
        if (ViewBag.Compare == ViewBag.Result)
        {
        <div>Полученный результат равен заданному</div>

        }
        else
        {
        <div>Полученный результат не равен заданному</div>
        }
        }


    </div>
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Calculator</h2>
    <div>

        @using (Html.BeginForm("Index", "Calc", FormMethod.Post))
        {

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })


            <p>
                @Html.LabelFor(m => m.OP1)
                @Html.TextBox("OP1", "")
                @Html.ValidationMessageFor(Calc => Calc.OP1, "", new { @class = "text-danger" })
            </p>

            <p>
                @Html.LabelFor(m => m.Operation)
                +  @Html.RadioButton("Operation", "+")  |
                -  @Html.RadioButton("Operation", "-")  |
                *  @Html.RadioButton("Operation", "*")  |
                /  @Html.RadioButton("Operation", "/")  |
            </p>

            <p>
                @Html.LabelFor(m => m.OP2)
                @Html.TextBox("OP2", "")
                @Html.ValidationMessageFor(Calc => Calc.OP2, "", new {@class = "text-danger"})
            </p>



            <p>
                @Html.LabelFor(m => m.Result)
                @ViewBag.Result
            </p>

            <button name="ActButton" value="Calc">Вычислить</button>
            <button name="ActButton" value="Clear">Очистить</button>

            <p> @Html.ActionLink("About calculation","Calculation","Calc")</p>
        }



    </div>
</body>
</html>
